.card
{
    background: #eee;
    border-radius: 10px;
    box-shadow: #888 2px 2px 2px;
    padding: 2%;
    box-sizing: border-box;
    width: 75%;
}

.valid
{
    color: #2d6;
}

.invalid
{
    color: #f44;
}

.actions_icon
{
    color: #06d;
}

.actions_icon:hover
{
    background: #4df;
}

.actions
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}