.submit_group input, button
{
    border-radius: 5px;
    border: none;
    padding: 5px;
    align-self: center;
}

.submit_group input
{
    background: #06D;
    color: #fff;
    cursor: pointer;
}

.input_group
{
    padding: 1%;
}

button
{
    background: #4df;
    color: #06d;
}

.form_container
{
    padding: 2%;
    background: #eee;
    box-shadow: #888 2px 2px 2px;
    border-radius: 5px;
}

.loginform_container
{
    padding: 2%;
    background: #fdd;
    box-shadow: #888 2px 2px 2px;
    width: 50%;
    border-radius: 5px;
    margin-top: 20%;
    margin-left: 25%;
    width: 500px;
    display: flex;
    justify-content: center;
}

.invalid
{
    border: #f44 1px solid;
    color: #f44;
}