.card
{
    background: #eee;
    border-radius: 10px;
    box-shadow: #888 2px 2px 2px;
    padding: 2%;
    box-sizing: border-box;
    width: 25%;
}

.valid
{
    color: #4f8;
}

.invalid
{
    color: #f44;
}

.cta-icon
{
    color: #06d;
}

.cta-icon:hover
{
    background: #4df;
}

.cta
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}