*
{
  font-family: 'Arial Rounded MT';
  transition: 0.2s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my_body
{
  width: 90%;
  margin-bottom: 50px;
}

a
{
  text-decoration: none;
}

.pnf404
{
  text-align: center;
  margin: auto;
  color: #06d;
  padding: 5%;
  font-size: 3em;
}

button:hover
{
    background: #4df;
}